<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NLP - Emotion Detection</title>
    <style>
        .center-heading {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="center-heading">
        <h2>NLP - Emotion Detection</h2>
    </div>
    <div style="text-align: center;">
        <h4>Please enter the text to be analyzed</h4>
        <textarea id="textToAnalyze" rows="4" cols="50"></textarea>
        <br><br>
        <button onclick="RunSentimentAnalysis()">Run Sentiment Analysis</button>
    </div>
    <div id="system_response" style="text-align: center;"></div>
    <script src="/static/mywebscript.js"></script>
</body>
</html>
